
# Test cryfs creation and mounting
# This does not work in lxc - fuse and containers do not get along
Tests: mounttest.py
Depends: @, python3-pexpect, haveged
Restrictions: isolation-machine

# Britney debci does not currently (12/20) support the isolation-machine
# restriction, leading to a 'neutral' result if mounttest is the only test.
# Unfortunatly, there is a bug in britney such that, if there is an
# infrastructure-based failure for a particular version/architecture, that
# result is preferred over a subsequent 'neutral', which can lead to a
# permanent transition block.
Tests: optiontest
Depends: @

Test-Command: debian/tests/unittest blobstore
Features: test-name=blobstore
Depends: @

Test-Command: debian/tests/unittest blockstore
Features: test-name=blockstore
Depends: @

# issue with some test environments
#Test-Command: debian/tests/unittest cpp-utils
#Features: test-name=cpp-utils
#Depends: @

Test-Command: debian/tests/unittest cryfs
Features: test-name=cryfs
Depends: @

Test-Command: debian/tests/unittest cryfs-cli
Features: test-name=cryfs-cli
Depends: @

Test-Command: debian/tests/unittest gitversion
Features: test-name=gitversion
Depends: @

Test-Command: debian/tests/unittest parallelaccessstore
Features: test-name=parallelaccessstore
Depends: @
